* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-weight: 300;
}

iframe,
section,
main {
	margin: 30px 0 20px 30px;
}

h1 {
	color: #242424;
	margin-bottom: 20px;
}
h2 {
	color: #363136;
	padding: 30px 0;
}
h3 {
	font-size: 24px;
	color: #343434;
	margin: 20px 0 10px 0;
}

li {
	margin: 5px 0;
}

p {
	padding: 10px 0 15px 0;
	line-height: 1.5;
	max-width: 850px;
	font-size: 18px;
}

.list {
	margin: 10px 0 10px 20px;
	color: #222623;
	& :nth-child(n+10) {
		margin-left: 8px;
	}
}

.quote {
	border-left: 4px solid #000;
	padding-left: 20px;
}

.footer {
	background-color: #D9D9D9;
	padding: 30px 60px;
	text-align: center;
}

.footer__img img{
	height: 140px;
	width: 140px;
	border-radius: 50%;
}

.footer__copyright{
	& p {
		padding-bottom: 0;
		max-width: 100vw;
	}
}